/* navbar font */
.navbar {
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.navbar-nav {
  margin-top: 20px;
}

/* hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/general/background.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* hero text */
.hero-text {
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1 {
  font-weight: bold;
  font-size: 100px;
  margin-top: 100px;
}

.hero-description {
  margin-top: 50px;
}

/* CSS */
.hero-button {
  height: 50px;
  width: 120px;
  margin-top: 75px;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-style: none;
  font-weight: bold;
  font-size: 20px;
  color: rgb(38, 38, 38);
}

.hero-button:hover {
  cursor: pointer;
  box-shadow: inset rgb(53, 53, 53) 0px 0px 20px;
}

/* Profile */
.profile {
  max-height: 400px;
  max-width: 400px;
}
